@import "./styles/variables";
@import "./styles//storage";
@import "./styles/control";
@import "./styles/data";
@import "./styles/queries";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  font-family: $raleway;
}

body {
  font-size: $fontSize;
  background-color: $very-dark-blue;
  background-image: url("../images/bg-desktop.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  height: 100vh;
  display: grid;
  place-content: center;
}