// Neutral Colors
$pale-blue: #dddbff;
$grayish-blue: #848794;
$dark-blue: #1d2c67;
$very-dark-blue: #0c122c;

// Primary Color
$gradient-one: rgb(255, 163, 153);
$gradient-two: rgb(255, 77, 151);

// Body Copy
$fontSize: 1.4rem;
$raleway: "Raleway", sans-serif;
